extend ../layout/default

block page_data
  - var siteTitle = ""
  - var description = ""
  - var keywords = ""
  - var siteUrl = ""

block body
  include ../include/common/breadcrumb
  p.c-key-visual
    img(src="https://sekiyaeiji.github.io/image-storage/dist/img/heavy-img/img_0285-gs.jpg", alt="")
  h1.l-h1 h1テキストh1テキストh1テキスト
  main.l-main
    article.l-article
      section.l-section
        h2.l-h2 h2テキストh2テキストh2テキストh2テキストh2テキストh2テキスト
        p.c-text
          |テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          br
          |テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          br
          |テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        h2.l-h2 h2テキストh2テキストh2テキストh2テキストh2テキストh2テキスト
        p.c-text
          |テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          br
          |テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          br
          |テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        ul
          for data in page_data
            li
              h2= data.title
              p= data.text
        figure
          figcaption figcaption
          img(src='', alt='')
        details
          summary summary
        p
          mark mark
          time time
        ul
          li
        ol
          li
  aside.l-aside
    ul
      for data in page_data
        li
          h2= data.title
          p= data.text
