nav.l-breadcrumb
  ol(itemscope, itemtype="http://schema.org/BreadcrumbList")
    li.breadcrumb__item(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
      a(itemprop="item", href="#DUMMY") HOME
      meta(itemprop="position", content="1")
    li.breadcrumb__item(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
      a(itemprop="item", href="#DUMMY") category
      meta(itemprop="position", content="2")
    li.breadcrumb__item(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
      a(itemprop="item", href="#DUMMY") subcategory
      meta(itemprop="position", content="3")
    li.breadcrumb__item(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
      strong(itemprop="item") current page
      meta(itemprop="position", content="3")
