header.l-header
  p.l-logo
    a(href="#DUMMY") logo
  ul.l-utility
    li.utility__item
      a(href="#DUMMY") utility
    li.utility__item
      a(href="#DUMMY") utility
    li.utility__item
      a(href="#DUMMY") utility
